# Skill Up #15 Python

## Introduction to Statistic Just Variance

In [1]:
pwd

'C:\\Users\\danie\\Shift Academy Data Science Bootcamp Batch 10\\# Skill Up Python'

## Import Library

In [2]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
matplotlib.style.use('seaborn')

## Import Dataset and Quick Look

In [3]:
data = pd.read_csv('HR_comma_sep.csv')
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

## Variance

In [5]:
group1 = [160, 175, 176, 173, 189]
group2 = [176, 178, 176, 177, 177]
mean_1 = np.array(group1).sum()/len(group1) # Result = 174.6
mean_2 = np.array(group2).sum()/len(group2) # Result = 176.8

n = 0
j = 0
for i in group1:
    n += (mean_1 - i)**2 # (160 - 174.6)**2
for i in group2:
    j += (mean_2 - i)**2
    
var_1 = n/len(group1)
var_2 = j/len(group2)

std_1 = np.sqrt(var_1)
std_2 = np.sqrt(var_2)
print('Mean of the 1st group: {}\nMean of the 2nd group: {}\n'.format(mean_1, mean_2))
print('Variance of the 1st group: {}\nVariance of the 2nd group: {}\n'.format(var_1, var_2))
print('Std of the 1st group: {}\nStd of the 2nd group: {}'.format(std_1, std_2))

Mean of the 1st group: 174.6
Mean of the 2nd group: 176.8

Variance of the 1st group: 85.03999999999999
Variance of the 2nd group: 0.56

Std of the 1st group: 9.221713506718803
Std of the 2nd group: 0.7483314773547883